<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <style>
        form > div > span {
            width: 120px;
        }
        footer{

            position: fixed;
            bottom: 0;
        }
        .result{display: none}
    </style>
    <script type="application/javascript">
        document.addEventListener('DOMContentLoaded',()=> {
            const rec_select_box = document.getElementById('rec_select');
            let httpRequest
            const selected_object = document.querySelector('#rec_select option');
            let getCode
            const submit_btn = document.getElementById('submitBtn');
            //
            rec_select_box.addEventListener('change', e => {

                getCode = e.target.value;

                httpRequest = new XMLHttpRequest();

                httpRequest.open('GET', '/current/'+getCode, true);

                httpRequest.send();

                httpRequest.onreadystatechange = updateRecCurrentExchangeRate;
            });

            function updateRecCurrentExchangeRate(){
                if(httpRequest.readyState === XMLHttpRequest.DONE)
                    return;

                if(httpRequest.status === 200){
                    let inputCurrent = document.getElementById('currentExchange');
                    console.log(httpRequest.responseText);
                    let res_current = JSON.parse(httpRequest.responseText);
                    inputCurrent.defaultValue =res_current.quotes['USD'+getCode];
                }
            }
            submit_btn.addEventListener('click', e => {
                httpRequest = new XMLHttpRequest();


                httpRequest.open('POST', '/submit', true);

                httpRequest.setRequestHeader("Content-Type", "application/json; charset=UTF-8");

                let send = document.getElementById('sendAmount').value;
                let sumitObject = new Object();
                sumitObject.from = getCode === undefined ? 'KRW' : getCode;
                sumitObject.to = 'USD';
                sumitObject.amount =send;

                httpRequest.send(JSON.stringify(sumitObject));

                httpRequest.onreadystatechange = calculrateExchangeRate;

            });

            function calculrateExchangeRate(){
                if(httpRequest.readyState === XMLHttpRequest.DONE)
                    return;

                if(httpRequest.status === 200){
                    let result = document.getElementById('resultCalculation');
                    let inputCurrent = document.querySelector('.result').style.display='flex';
                    console.log(httpRequest.responseText);
                    let calculation = JSON.parse(httpRequest.responseText);
                    result.defaultValue =res_current.quotes['USD'+getCode];
                }
            }
        });
    </script>
</head>
<body>
<div class="container">
    <header>
        <a>Home</a>
        <h1>환율 계산기</h1>
    </header>
    <section>
        <form>
            <div class="input-group mb-3">
                <span class="input-group-text" th:for="remittance">송금국가 </span>
                <input class="form-control" name="remittance" value="미국(USD)"  type="text" readonly>
            </div>
            <div th:object="${current}" class="input-group mb-3">
                <span class="input-group-text" th:for="reception">수취국가 </span>
                <select id="rec_select" class="form-select" name="reception" >
                    <option th:each="item : ${reception.keySet()}"
                            th:value="${reception.get(item)}"
                            th:text="${item+'('+reception.get(item)+')'}"
                            th:selected="${reception.get(item)}=='KRW'"
                    ></option>
<!--                    <option value="JPY">일본(JPY)</option>-->
<!--                    <option value="PHP`">필리핀(PHP)</option>-->
                </select>
                <span class="input-group-text" th:for="rate">환율 </span>
                <!-- 선택된 수취국가 환율 1 USD 기준으로 -->
                <input id="currentExchange" class="form-control" name="rate" type="text" th:value="${current.quotes.values()[0]}" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" th:for="money">송금액 </span>
                <!-- 선택된 수취국가 환율 1 USD 기준으로 -->
                <input id="sendAmount" class="form-control" name="money"  type="number" min="0" max="10000">
                <span class="input-group-text">USD</span>
            </div>
            <button id="submitBtn" class="btn-primary">Submit</button>
            <div class="input-group mb-3 result">
                <span class="input-group-text" th:for="money">환율 계산결과 </span>
                <!-- 선택된 수취국가 환율 1 USD 기준으로 -->
                <input id="resultCalculation" class="form-control" name="money"  type="text" readonly>
                <span class="input-group-text">USD</span>
            </div>
        </form>
    </section>
    <footer>Duck Typing - I Lova Doo Doo</footer>
</div>
</body>
</html>