<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <style>
        form > div > span {
            width: 100px;
        }
        footer{

            position: fixed;
            bottom: 0;
        }
    </style>
</head>
<body>
<div class="container">
    <header>
        <a>Home</a>
        <h1>환율 계산기</h1>
    </header>
    <section>
        <form>
            <div class="input-group mb-3">
                <span class="input-group-text" th:for="remittance">송금국가 </span>
                <input class="form-control" name="remittance" value="미국(USD)"  type="text" readonly>
            </div>
            <div th:object="${current}" class="input-group mb-3">
                <span class="input-group-text" th:for="reception">수취국가 </span>
                <select class="form-select" name="reception">
                    <option value="KRW">한국(KRW)</option>
                    <option value="JPY">일본(JPY)</option>
                    <option value="PHP`">필리핀(PHP)</option>
                </select>
                <span class="input-group-text" th:for="rate">환율 </span>
                <!-- 선택된 수취국가 환율 1 USD 기준으로 -->
                <input class="form-control" name="rate" type="text" th:value="${current.quotes.values()}" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" th:for="money">송금액 </span>
                <!-- 선택된 수취국가 환율 1 USD 기준으로 -->
                <input class="form-control" name="money"  type="text">
                <span class="input-group-text">USD</span>
            </div>
            <button class="btn-primary">Submit</button>
        </form>
    </section>
    <footer>Duck Typing - I Lova Doo Doo</footer>
</div>
</body>
</html>